# Variables opcionales para habilitar el perfil SSL del firmador
# SVFE_ARCHIVO=
# SVFE_PASSWORD=
SIGN_URL=http://127.0.0.1:8080/firma/firmardocumento/
SVFE_ARCHIVO=PATH_AL_KEYSTORE_O_CERT_SI_APLICA
SVFE_PASSWORD=COLOCAR_AQUI_PASSWORD
NIT_FIRMADOR=09061712791014
HACIENDA_URL=https://sandbox.ejemplo.hacienda.sv/...
