appdirs==1.4.4
coverage==7.10.6
cryptography==45.0.7
dbfread==2.0.7
fastapi==0.116.1
httpx==0.28.1
jsonpatch==1.33
jsonschema==4.25.1
msal==1.33.0
num2words==0.5.14
pydantic==2.11.7
pyinstaller==6.15.0
PyJWT==2.10.1
PyMuPDF==1.26.4
PyPDF2==3.0.1
PyQt5==5.15.11
PyQt5-sip==12.17.0
pytest==8.4.1
pytest-cov==7.0.0
reportlab==4.4.3
requests==2.32.5
tzdata==2024.1
